@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#F2E1C2, #F58C47);
}

main{
    background-color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 15px #6e3f20;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F26241;
    text-align: center;
    text-shadow: 1px 1px 2px #973c28;
}

h2{
    color: #00706C;
}

p{
    text-align: justify;
}